body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
}

#container {
    position: absolute;
}

h1 {
    font-family: 'Audiowide';
    font-size: 125px;
    color: #f25f12;
    text-shadow: 5px 5px 5px #351403;
    text-align: center !important;
}

div.a {
    font-family: 'Architects Daughter';
    border: 10px solid #f25f12;
    border-style: ridge;
    font-size: 30px;
    color: black;
    left: 0;
    right: 17%;
    width: 70%;
    text-align: justify;
    margin: 50px;
    padding: 30px;
    -webkit-box-shadow: 15px 15px 10px #752c07;
    box-shadow: 15px 15px 10px #752c07;
}

div.b {
    font-family: 'Architects Daughter';
    border: 10px solid #f25f12;
    border-style: ridge;
    font-size: 30px;
    color: black;
    text-align: justify;
    margin: 50px 50px;
    padding: 30px;
    width: 70%;
}

iframe {
    border: 10px solid #f25f12;
    border-style: ridge;
}

div.header {
    padding: auto;
}

div.background {
    border-bottom: 1px solid #f25f12;
    border-top: 1px solid #f25f12;
    height: 100%;
    margin: auto;
    padding: auto;
    width: 100%;
    background-image: url(img/mainheader.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}

#primary_nav_wrap {
    text-align: center;
    padding: 10px;
    width: 60%;
    margin-left: 18%;
}

#primary_nav_wrap ul {
    list-style-type: none;
    margin-top: 2px;
    padding: 10px;
    text-align: left;
}

#primary_nav_wrap ul a:link,
#primary_nav_wrap ul a:visited {
    position: relative;
    z-index: 9999;
    display: block;
    background-color: #f25f12;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 20px;
    font-family: 'Audiowide';
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 1%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    -webkit-box-shadow: 9px 4px 10px #752c07;
    box-shadow: 9px 4px 10px #752c07;

}

#primary_nav_wrap ul a:hover {
    background-color: #c64b0b;
}

#primary_nav_wrap ul li {
    position: relative;
    text-align: center;
    float: left;
}

#primary_nav_wrap ul ul {
    display: none;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

#primary_nav_wrap ul ul li {
    float: none;
    text-align: center;
    width: auto;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary_nav_wrap ul ul li:hover {
    display: block;
    text-decoration: none;
    list-style: none;
}


#primary_nav_wrap ul li:hover ul {
    display: block;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 242, 205, 0.8)), to(rgba(249, 242, 205, 0.8))), url(http://media.istockphoto.com/vectors/food-ingredient-seamless-doodle-line-pattern-vegetable-background-vector-id686308670);
    background-image: linear-gradient(rgba(249, 242, 205, 0.8), rgba(249, 242, 205, 0.8)), url(http://media.istockphoto.com/vectors/food-ingredient-seamless-doodle-line-pattern-vegetable-background-vector-id686308670);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#footer {
    position: absolute;
    margin-top: 0;
    width: 100%;
    background: #f47f42;
    background-color: #f47f42;
    z-index: auto;
    border-top: 5px solid #a63e09;
}

/* Footer social media */

.wrapper2 {
    position: absolute;
    float: right;
    right: 5%;
    background: #f47f42;
    display: block;
    height: 100%;
    width: 350px;
    margin-left: 15px;
    border-left: 5px solid #a63e09;
}

.ion-social-facebook {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    text-align: center;
    font-size: 50px;
    color: #3B5998;
}
.ion-social-facebook:hover {
    color: white;
    transition: 0.7s;
}

.ion-social-googleplus {
    display: inline-block;
    margin: 10px 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: #dd4b39;
}
.ion-social-googleplus:hover {
    color: white;
    transition: 0.7s;
}

.ion-social-twitter {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 80%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: #55acee;
}
.ion-social-twitter:hover {
    color: white;
    transition: 0.7s;
}
.ion-social-instagram {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: #e4405f;
}
.ion-social-instagram:hover {
    color: white;
    transition: 0.7s;
}
.ion-social-youtube {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: #cd201f;
}
.ion-social-youtube:hover {
    color: white;
    transition: 0.7s;
}
.ion-social-linkedin {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 80%;
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    text-align: center;
    font-size: 50px;
    color: #0077B5;
}
.ion-social-linkedin:hover {
    color: white;
    transition: 0.7s;
}
.footer-text {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 15%;
    top: 120px;
    left: 22%;
    font-size: 20px;
    font-family: 'Audiowide';
    z-index: 9999;
}

.footer-text2 {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    top: 20px;
    left: 47%;
    font-family: 'Audiowide';
}

.row {
    max-width: 600px;
    margin-left: 50px;
    margin-top: 0;
}

section {
    padding-bottom: 30px;
    width: 400px;
    margin-top: 0;
    border-right: 5px solid #a63e09;
}

.box {
    padding: 1%;
}

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}
label {
    font-family: 'Audiowide';
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Audiowide';

}


/*---------------------------------*/

img {
    position: relative;
    border: 5px solid #f25f12;
    border-style: ridge;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

.pocetna {
    float: left;
    margin-top: 40px;
    margin-right: 15px;
    background-image: url(img/salat.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 190px;
}

.right {
    display: block;
    width: 300px;
    height: 200px;
    float: right;
    margin-right: 3%;
}

.sponzor {
    width: 270px;
    height: 150px;
    margin-top: 0;
    margin-right: 0%;
    margin-left: 6%;
    float: right;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px #752c07;
    box-shadow: 10px 10px 5px #752c07;
}

.sponzor2 {
    width: 270px;
    height: 150px;
    margin-right: 0px;
    margin-left: 0%;
    float: right;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px #752c07;
    box-shadow: 10px 10px 5px #752c07;
}

.sponzor3 {
    width: 270px;
    height: 150px;
    margin-right: 0px;
    margin-left: 5%;
    float: right;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px #752c07;
    box-shadow: 10px 10px 5px #752c07;
}

.sponzor4 {
    width: 270px;
    height: 150px;
    margin-right: 0px;
    margin-left: 0%;
    float: right;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px #752c07;
    box-shadow: 10px 10px 5px #752c07;
}

/******* IMG WOMAN 1,2,3,4 ********/

.woman {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/**************************************/

.pocetna2 {
    float: left;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 190px;
    margin-right: 15px;
    margin-top: 10px;
}

/*************************************/

.video {
    text-align: center;
    margin-left: 40%;
}

.frame {
    display: block;
    width: 50%;
    height: 500px;
    margin-left: 24%;
}

.mobile_nav_icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile_nav_icon i {
    position: absolute;
    font-size: 250%;
    color: black;
}

#myBtn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    border: 1px solid #f25f12;
    box-shadow: 5px 5px 5px #752c07;
    outline: none;
    background-color: #f25f12;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #752c07;
}
